In [17]:
import pandas as pd
df_train=pd.read_csv(r"E:\chd\Pima Indians Diabetes classical_train.csv")

In [18]:
df_train

,0,1,2,3,4,5,6,target
0,-4.670829,-0.650937,2.742971,-0.687654,1.899267,-0.105539,-0.250353,1.0
1,0.864405,1.735315,0.676123,2.589166,0.773636,-0.507174,-0.093835,0.0
2,-0.493455,-1.138527,1.343425,-0.091291,-0.257867,0.435269,-0.247565,NaN
3,-1.056313,1.964895,1.621169,-1.043136,-0.739870,-0.085912,2.228299,0.0
4,2.840109,0.137549,-0.861662,-1.332957,0.905332,0.429948,0.831032,1.0
...,...,...,...,...,...,...,...,...
609,0.472614,-0.455014,0.260018,-0.592994,0.666828,-0.011393,-0.758924,0.0
610,-1.278578,0.416952,-1.250344,-0.025340,-1.446847,-2.691942,-0.363299,0.0
611,1.803687,0.746995,-0.997387,2.689078,0.492850,0.832936,-0.618752,1.0
612,-1.639731,-0.825990,1.304779,-1.029921,-0.848802,3.372664,0.953503,1.0
613,-1.416498,-0.153459,-0.133452,-0.449777,-1.610283,-1.713631,-0.593957,0.0

In [22]:
import pandas as pd
df_test=pd.read_csv(r"E:\chd\Pima Indians Diabetes classical_test.csv")

In [26]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       154 non-null    float64
 1   1       154 non-null    float64
 2   2       154 non-null    float64
 3   3       154 non-null    float64
 4   4       154 non-null    float64
 5   5       154 non-null    float64
 6   6       154 non-null    float64
 7   target  31 non-null     float64
dtypes: float64(8)
memory usage: 9.8 KB

In [27]:
df_combined = pd.concat([df_train, df_test], ignore_index=True)

# Print the combined dataframe
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    float64
 1   1       768 non-null    float64
 2   2       768 non-null    float64
 3   3       768 non-null    float64
 4   4       768 non-null    float64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   target  521 non-null    float64
dtypes: float64(8)
memory usage: 48.1 KB

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()

# Fit scaler on the selected columns and transform
cols_to_normalize = df_combined.columns[:-1]
df_normalized = df_combined.copy()
df_normalized[cols_to_normalize] = scaler.fit_transform(df_normalized[cols_to_normalize])

# Add the last column (Target) back to the normalized dataframe
df_normalized['target'] = df_combined['target']

# Print the normalized dataframe
print(df_normalized)

            0         1         2         3         4         5         6  \
0    0.460688  0.827942  0.433305  0.387069  0.826695  0.641054  0.274888
1    0.663901  0.397438  0.119952  0.512197  0.475128  0.530271  0.585002
2    0.152170  0.539554  0.508027  0.420197  0.388602  0.774137  0.504178
3    0.135855  0.414950  0.278341  0.702148  0.302276  0.478104  0.509253
4    0.148778  0.505868  0.400505  0.307491  0.142033  0.756951  0.545854
..        ...       ...       ...       ...       ...       ...       ...
564  0.145916  0.267199  0.290076  0.433754  0.546681  0.448401  0.479016
565  0.318577  0.286516  0.405797  0.385855  0.389493  0.369421  0.389605
566  0.140059  0.402610  0.296795  0.338922  0.395435  0.439257  0.464694
567  0.220306  0.335121  0.401026  0.838999  0.574911  0.305169  0.534812
568  0.552465  0.090907  0.382724  0.768541  0.331950  0.375253  0.724663

     target
0         0
1         1
2         0
3         0
4         0
..      ...
564       0
565       1
566       0
567       0
568       1

[569 rows x 8 columns]

In [10]:
df_normalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       569 non-null    float64
 1   1       569 non-null    float64
 2   2       569 non-null    float64
 3   3       569 non-null    float64
 4   4       569 non-null    float64
 5   5       569 non-null    float64
 6   6       569 non-null    float64
 7   target  569 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 35.7 KB

In [11]:
df_combined

,0,1,2,3,4,5,6,target
0,4.549083,9.417173,1.557439,-0.517792,4.444412,1.708831,-2.081521,0
1,8.983904,0.348444,-3.306939,0.663094,0.340615,0.605428,0.892325,1
2,-2.183873,3.342169,2.717394,-0.205151,-0.669398,3.034343,0.117261,0
3,-2.539927,0.717342,-0.848170,2.455732,-1.677066,0.085844,0.165929,0
4,-2.257893,2.632556,1.048260,-1.268800,-3.547568,2.863176,0.516911,0
...,...,...,...,...,...,...,...,...
564,-2.320362,-2.395108,-0.665995,-0.077201,1.175841,-0.209998,-0.124035,0
565,1.447710,-1.988177,1.130406,-0.529245,-0.658990,-0.996646,-0.981441,1
566,-2.448179,0.457390,-0.561697,-0.972170,-0.589630,-0.301075,-0.261370,0
567,-0.696899,-0.964289,1.056344,3.747257,1.505375,-1.636592,0.411026,0
568,6.551966,-6.108761,0.772232,3.082316,-1.330687,-0.938554,2.231611,1

In [12]:
df_normalized.columns = df_normalized.iloc[0]  # Set the first row as the header
df_normalized = df_normalized[1:]  # Drop the first row

# Reset the index if necessary
# df_combined.reset_index(drop=True, inplace=True)
# df = df.drop(columns=['index'])
# print(df)
df_normalized

,0.460688,0.827942,0.433305,0.387069,0.826695,0.641054,0.274888,0.000000
1,0.663901,0.397438,0.119952,0.512197,0.475128,0.530271,0.585002,1
2,0.152170,0.539554,0.508027,0.420197,0.388602,0.774137,0.504178,0
3,0.135855,0.414950,0.278341,0.702148,0.302276,0.478104,0.509253,0
4,0.148778,0.505868,0.400505,0.307491,0.142033,0.756951,0.545854,0
5,0.440596,0.515594,0.112522,0.676556,0.434361,0.503163,0.604520,1
...,...,...,...,...,...,...,...,...
564,0.145916,0.267199,0.290076,0.433754,0.546681,0.448401,0.479016,0
565,0.318577,0.286516,0.405797,0.385855,0.389493,0.369421,0.389605,1
566,0.140059,0.402610,0.296795,0.338922,0.395435,0.439257,0.464694,0
567,0.220306,0.335121,0.401026,0.838999,0.574911,0.305169,0.534812,0
568,0.552465,0.090907,0.382724,0.768541,0.331950,0.375253,0.724663,1

In [13]:
missing_values = df_combined.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
0         0
1         0
2         0
3         0
4         0
5         0
6         0
target    0
dtype: int64

In [53]:
 if df_combined.dtypes.any() != 'float64' and df_combined.dtypes.any() != 'int64':
            print("\nNon-numeric data found in columns:")
            print(df_combined.dtypes)

Non-numeric data found in columns:
0
-1.447987    float64
-0.456023    float64
-1.366651    float64
-0.280696    float64
 0.693984    float64
 2.147190    float64
 1.859432    float64
 0.000000      int64
dtype: object

In [66]:
import numpy as np

In [101]:
# import csv

# # Input and output file paths
# input_file = 'E:/QSVM/QSVM/QSVM/data/breast_quantum.csv'
# output_file = 'E:/QSVM/QSVM/QSVM/data/breast_quantum.csv'

# # Open input CSV file for reading
# with open(input_file, 'r', newline='') as csvfile:
#     csvreader = csv.reader(csvfile)
    
#     # Open output CSV file for writing
#     with open(output_file, 'w', newline='') as outfile:
#         csvwriter = csv.writer(outfile)
        
#         # Iterate over each row in the input CSV
#         for row in csvreader:
#             # Write each row except the first column to the output CSV
#             csvwriter.writerow(row[1:])  # Skip the first column (index 0)

# print(f"CSV file '{input_file}' processed. Modified file saved as '{output_file}'.")

CSV file 'E:/QSVM/QSVM/QSVM/data/breast_quantum.csv' processed. Modified file saved as 'E:/QSVM/QSVM/QSVM/data/breast_quantum.csv'.

In [193]:
# df=pd.read_csv("E:/QSVM/QSVM/QSVM/data/breassssst_quantum.csv")

In [142]:
df

,-1.4479872302630394,-0.4560233618080356,-1.3666510291398104,-0.2806956846583102,0.6939837922107915,2.147190076074726,1.859432467927948,0.0
0,1.977508,1.694187,2.089619,0.810729,0.733436,1.936879,2.463465,1
1,-1.407089,-1.263516,-1.349763,0.016703,-1.490797,0.616770,0.052877,0
2,-0.987600,1.380033,-0.986877,-0.561131,0.768505,0.822228,-0.137199,0
3,-1.123927,-1.026155,-1.129395,0.399279,-0.213419,1.061659,-0.207578,0
4,0.117215,1.919912,0.196105,-0.126943,1.553167,2.131012,2.779335,1
...,...,...,...,...,...,...,...,...
563,0.145616,-0.567723,0.092306,-0.666881,-0.796437,-0.721135,-0.996699,0
564,0.551757,0.083856,0.499677,1.235173,0.772888,-0.405668,-1.112518,1
565,-0.740508,-1.014519,-0.745503,-0.537671,0.286310,-0.383019,-0.324505,0
566,0.026330,1.992051,0.023930,-0.251822,-1.063835,-1.635181,-0.331709,0
567,1.875263,2.753002,1.801287,2.767643,0.338913,-0.052992,-0.097854,1

In [14]:
df_normalized.to_csv("E:/QSVM/QSVM/QSVM/data/beassss_C_quantum.csv")

In [15]:
import csv

# Specify input and output file paths
input_file = 'E:/QSVM/QSVM/QSVM/data/beassss_C_quantum.csv'
output_file = 'E:/QSVM/QSVM/QSVM/data/breast_classical_no_header.csv'

# Read the input CSV file and prepare to write the modified content
with open(input_file, 'r', newline='') as infile, open(output_file, 'w', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)
    
    # Iterate over each row in the input file
    for row in reader:
        # Write each row excluding the first column
        writer.writerow(row[1:])

# Optionally, you can remove or rename the original file here
# import os
# os.remove(input_file)
# os.rename(output_file, input_file)

In [16]:
pd.read_csv('E:/QSVM/QSVM/QSVM/data/breast_classical_no_header.csv')

,0.46068825649913736,0.827941810730084,0.4333054521159234,0.3870687386314023,0.8266945971599552,0.6410538281371958,0.27488840242529944,0.0
0,0.663901,0.397438,0.119952,0.512197,0.475128,0.530271,0.585002,1
1,0.152170,0.539554,0.508027,0.420197,0.388602,0.774137,0.504178,0
2,0.135855,0.414950,0.278341,0.702148,0.302276,0.478104,0.509253,0
3,0.148778,0.505868,0.400505,0.307491,0.142033,0.756951,0.545854,0
4,0.440596,0.515594,0.112522,0.676556,0.434361,0.503163,0.604520,1
...,...,...,...,...,...,...,...,...
563,0.145916,0.267199,0.290076,0.433754,0.546681,0.448401,0.479016,0
564,0.318577,0.286516,0.405797,0.385855,0.389493,0.369421,0.389605,1
565,0.140059,0.402610,0.296795,0.338922,0.395435,0.439257,0.464694,0
566,0.220306,0.335121,0.401026,0.838999,0.574911,0.305169,0.534812,0
567,0.552465,0.090907,0.382724,0.768541,0.331950,0.375253,0.724663,1